[user]
	email = maxime.lenne@gmail.com
	name = Lenne
	signingkey = 733F8CD11BA8E377D274E1972C9D9969821F87D7
[commit]
	gpgsign = true
[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[gpg]
	program = /usr/local/bin/gpg
[help]
  autocorrect = 1
