[user]
	email = maxime.lenne@gmail.com
	name = Maxime Lenne
	signingkey = 791148BA47B3079FA11457EFFCB52E9B4A3AAF0B
[commit]
	gpgsign = true
[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[gpg]
	program = /usr/local/bin/gpg
[help]
  autocorrect = 1
