[user]
	email = hello@maxime-lenne.fr
	name = Maxime Lenne
	signingkey = 9D78578DC41F6B1A
[commit]
	gpgsign = true
[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
	autoSetupRemote = true
[gpg]
	program = gpg
[help]
  autocorrect = 1
[push]
	autoSetupRemote = true
